:root {
    --color-background: white;
    --color-background-secondary: #f8f8f8;
    --color-border: #e4e4e7;
    --color-text: #666666;
    --color-highlight: rgb(3, 203, 136);
    --font-family: Figtree;
    --font-size-title: 30px;
    --font-size-title-min: 16px;
    --font-size-paragraph: 16px;
    --font-size-h1: 28px;
    --font-size-h2: 25px;
    --font-size-h3: 22px;
    --font-size-listsection: 14px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #121212;
        --color-background-secondary: #1e1e1e;
        --color-border: #333333;
        --color-text: #e0e0e0;
        --color-highlight: rgb(0, 150, 100);
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

splitviews1holder {
    min-width: 275px !important;
    width: 275px !important;
    display: block;
}

popover {
    height: 100dvh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.00);
}

vstack {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

headercont {
    display: block;
    height: auto;
}

udheader {
    display: block;
}

udheaderleading {
    min-height: 60px;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    display: none;
}

udheadertrailing {
    min-height: 60px;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
    display: none;
}

udheaderrow {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

udtitleholder {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 601px) {
    popovercontent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        height: 70vh;
        background-color: var(--color-background);
        border-radius: 10px;
    }
}

splitviews1 {
    height: 100%;
    min-width: 275px;
    background-color: var(--color-background-secondary);
    border-right: 1px solid var(--color-border);
    overflow: hidden;
}

splitviews2 {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    overflow: auto;
}

p {
    font-family: var(--font-family);
}

navview {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    overflow: auto;
    display: block;
}

tabviewbg {
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--color-background);
}

tabviewtab {
    min-height: calc(100% - 71px);
    max-height: calc(100% - 71px);
    overflow: auto;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--color-background);
    display: none;
}

tabviewbar {
    height: 70px;
    width: calc(100% - 30px);
    background-color: var(--color-background);
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}

#mainview {
    margin: 0px;
}

hstack {
    display: flex;
    flex-direction: row;
}

innerpaddingnode {
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 50px);
    overflow: auto;
    display: block;
}

splitview {
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    color: var(--color-text);
    user-select: none;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--color-background);
}

udtitle {
    font-size: var(--font-size-title);
    font-weight: 600;
    font-family: var(--font-family);
    margin-left: 25px;
    margin-top: 0px;
    display: block;
    margin-bottom: 20px;
}

udtitlemin {
    font-size: var(--font-size-title-min);
    font-family: var(--font-family);
    margin-left: 25px;
    display: block;
    font-weight: 600;
}

udtitlecenter {
    font-size: var(--font-size-title-min);
    font-family: var(--font-family);
    display: block;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

udnavitemex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.udnavitemexhti {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

.udnavitemexver {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    gap: 5px;
    cursor: pointer;
}

.textnodenomargin {
    margin: 0px !important;
}

udbuttonfilled {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    background-color: var(--color-highlight);
    border-radius: 10px;
    color: var(--color-background);
}

udbuttontext {
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family);
    display: block;
}

udnavitemextext {
    padding-left: 15px;
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family);
    display: block;
}

.udnavitemextextver {
    padding-left: 0px;
    font-size: var(--font-size-listsection);
    font-family: var(--font-family);
    display: block;
}

[textstyle="paragraph"] {
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
}

[textstyle="h3"] {
    font-family: var(--font-family);
    font-size: var(--font-size-h3) !important;
    font-weight: 500;
}

[textstyle="h2"] {
    font-family: var(--font-family);
    font-size: var(--font-size-h2) !important;
    font-weight: 500;
}

[textstyle="h1"] {
    font-family: var(--font-family);
    font-size: var(--font-size-h1) !important;
    font-weight: 500;
}

[textstyle="listsection"] {
    font-family: var(--font-family);
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 500;
    font-size: var(--font-size-listsection);
}

@media only screen and (max-width: 600px) {
    splitviews1 {
        max-height: 100%;
        min-width: 100%;
        background-color: var(--color-background-secondary);
        border-right: 1px solid var(--color-border);
        position: absolute;
    }
    splitview {
        position: relative;
        overflow: hidden;
        max-height: 100%;
        overflow-y: auto;
    }
    splitviews2 {
        position: absolute;
        left: 100vw;
    }
    listsectioninner {
        padding: 15px;
        padding-bottom: 1px;
        background-color: var(--color-background);
        margin-left: 25px;
        display: block;
        margin-right: 25px;
        border-radius: 15px;
    }
    listsectioninner udnavitemex {
        margin: 0;
        margin-bottom: 14px;
    }
    listsectioninner udnavitemex:not(:last-child) {
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 14px;
    }
    popovercontent {
        position: fixed;
        bottom: 0px;
        width: 100vw;
        height: 90vh;
        background-color: var(--color-background);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

listsectioninner:empty {
    display: none;
}

.CollabKitMousePointer {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 100px;
}
